md-toast.md-success-toast-theme .md-toast-content {
    background-color: green;
}
md-toast.md-error-toast-theme .md-toast-content {
    background-color: red;
}
md-toast.md-info-toast-theme .md-toast-content {
    background-color: blue;
}

#footer {
	position: absolute;
	bottom: 0;
    color: #AAAAAA;
}